
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.header {
    position: relative;
    display: block;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    background-image: linear-gradient(to right, rgba(8, 37, 77, 0.705), rgba(120, 185, 228, 0.568) 90%), url(./Images/Background-texture-2.png);
    background-size: cover;
}

.wave {
    position: absolute;
    bottom: 0;
    fill: white;
}

.header-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-coordonées {
    margin: 30px;
    color: white;
    font-weight: none;
}

.title-coordonées>* {
    margin-bottom: 20px;
    font-style: oblique;
}

.title {
    text-align: center;
    margin: 0;
}

.coordonées {
    display: flex;
    flex-wrap: wrap;
}

.coordonées div {

    margin-top: 20px;
    display: flex;
}

.coordonées div img {

    margin-right: 10px;
}

.coordonées>* {
    margin-left: 20px;
}

.coordonées img {

    height: 30px;
    width: 30px;
}

.barre {
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-image: linear-gradient(rgb(169, 221, 145), rgb(3, 3, 3) 80%, white),url(./Images/Background-texture-2.png);
    margin: 10px 0 10px 0;
}

.Yannick {
    font-size: 35px;
    color: white;
}

.Leroy {
    color: greenyellow;
    font-size: 35px;
}

/* Section du bas */
/* Section du bas */
/* Section du bas */
/* Section du bas */

.main {

    display: flex;
    height: max-content;
    column-gap: 15px;

}

.expérience {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.expérience>* {
    position: relative;
    height: 100px;
    margin-top: 20px;
}

.post1 h2,
.post2 h2,
.post3 h2 {

    font-size: 19px;
    color: white;
    --r: .4em;
    /* control the ribbon shape (the radius) */
    --c: #2e9e0c;

    position: absolute;
    top: 0px;
    left: calc(-1*var(--r));
    line-height: 1.8;
    padding: 0 .5em calc(2*var(--r));
    border-radius: var(--r) 0 0 var(--r);
    background:
        radial-gradient(100% 50% at left, green 98%, #0000 101%) 100% 0/.5lh calc(100% - 2*var(--r)),
        radial-gradient(100% 50% at right, rgba(255, 255, 255, 0.333) 98%, #0000 101%) 0 100%/var(--r) calc(2*var(--r)),
        conic-gradient(from 90deg at var(--r) calc(100% - 2*var(--r)), #0000 25%, green 0) 0 0/calc(101% - .5lh) 100%;
    background-repeat: no-repeat;
}

.expérience .post3,
.post2,
.post1 {

    border: 1px solid rgba(128, 128, 128, 0.192);
    height: auto;
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 15px 0 0;
    background: radial-gradient(100% 80% at top, rgba(128, 128, 128, 0.144), white);
}

.expérience .post3 .barre,
.post2 .barre,
.post1 .barre {

    width: 50%;

}

.post-p {

    margin-top: 25px;
}

.expérience-bande {

    display: flex;
    height: auto;
    background-image: linear-gradient(to right, rgb(0, 110, 255, 0.5), rgb(120, 185, 228, 0.5) 90%), url(./Images/Background-texture-2.png);
    background-size: cover;
    color: white;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
}

.expérience-bande h2 {
    text-shadow: 1px 1.9px black;
    margin: 5px 0 5px 0;
    padding-left: 20px;
}

/* PROFIL */

.profil {
    width: 50%;
    border-right: 2px dotted rgba(128, 128, 128, 0.267);
    padding-left: 30px;
    margin-top: 20px;
    color: black;
}
.description-title, .compétence-title{

background-image: linear-gradient(to right, rgba(0, 128, 0, 0.548), rgba(50, 205, 50, 0.438)), url(./Images/Background-texture-2.png);
    padding: 4px;
    border-radius: 5px;
    padding-left: 20px;
}

.profil .description, .compétence{

    border-bottom: 1px dashed grey;
    margin: 0px 15px 0;
}
.description-text, .compétence-text{
    margin: 20px 20px 10px 15px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.158);
    border-radius: 5px;
    padding: 10px;
    
}
.compétence{
    margin-top: 20px;
}
.compétence-text ul li {
    margin-top: 5px;
}

/* SLIDER */

.sliderr {

    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slider {

    display: flex;
    position: relative;
    /* align-items: center; */
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 20px;
}

.slider .slides {

    width: 100%;
    height: 80%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}
.slides.active {

    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.arrow {

    position: absolute;
    background-color: rgba(42, 189, 169, 0.589);
    border-radius: 50%;
    z-index: 10;
    height: 30px;
    width: 30px;
    padding: 2px;
    top: 50%;
    color: white;
    cursor: pointer;
}

.arrow-right{

    position: absolute;
    right: 15px;
    transform: translateY(-50%);
}
.arrow-left{

    position: absolute;
    left: 15px;
    transform: translateY(-50%);
}