@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
::after,
::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bold {

    font-weight: bold;
}

ul {

    list-style: none;
    margin-top: 20px;
}

.container {

    display: flex;
    justify-content: center;
}

.barre {

    height: 3px;
    background-color: rgba(255, 255, 255, 0.572);
    width: 400px;
    border-radius: 20%;
    margin: 0 auto 0 auto
}

.profil {


    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(117, 236, 117, 0.757), rgba(1, 43, 11, 0.753));
    padding-bottom: 35px;
    max-width: 500px;
}

.profil h1 {

    text-align: center;
}

.coordonees,
.competences {

    display: flex;
    flex-direction: column;
    margin: 0 30px;
    color: white;
    font-size: 15px;
}

.coordonees p {
    margin: 15px 0;
}

.photo-profil {

    width: 350px;
    height: 350px;
    padding: 15px 0 0 15px;
    background-color: grey;
    margin: 30px auto;
    border-radius: 50%;
    background-image: url(./sentier-sous-belle-arche-fleurs-plantes_181624-16890.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.donnees {

    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border: 1px solid rgb(143, 206, 158);
    box-shadow: -5px 0px 10px 0 rgba(0, 128, 0, 0.682);
    margin: 0 5px;
}

/****** DONNEES PROFESSIONNEL *******/

.titre h1 {
    font-size: 50px;
    font-weight: bold;
}

.titre h3 {

    font-size: 35px;
}

.titre .barre,
.donnees .barre {

    background-color: rgb(114, 213, 122);
    width: 100%;
    margin: 20px 0;
}

.profil-pro h2 {

    margin-bottom: 20px;
}

.profil-pro p {

    font-size: 15px;
}

.donnees h2 {
    max-width: max-content;
    border-bottom: 1px dashed green;
}

/****** PARCOURS PROFESSIONNEL *******/

.parcours h3 {

    font-size: 20px;
    margin: 20px 0;
}

.parcours p {
    font-size: 15px;
}

.parcours p:nth-child(6) {

    margin-bottom: 20px;
}

.parcours img {
    cursor: pointer;
}
.attestation{

    z-index: 10000;
}

.div-attestation,
.div-attestation p {
    display: flex;
    align-items: center;
}

.sliderr {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}

.slider {

    display: flex;
    position: relative;
    align-items: center;
    height: 550px;
    width: 550px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slider .slides {

    width: inherit;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}
.slides.active {

    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.arrow {

    position: absolute;
    background-color: rgba(42, 189, 169, 0.589);
    border-radius: 50%;
    z-index: 10;
    height: 30px;
    width: 30px;
    padding: 2px;
    top: 50%;
    color: white;
    cursor: pointer;
}

.arrow-right{

    position: absolute;
    right: 15px;
    transform: translateY(-50%);
}
.arrow-left{

    position: absolute;
    left: 15px;
    transform: translateY(-50%);
}